.help-block {
    color: red;
}
table {
    margin-top: 20px;
}
.table-detail {
    border: 1px solid gray;
    box-shadow:  0 0 12px 5px #d5d5d5;
    padding: 20px;
}
.table-detail tbody tr td, .table-detail tbody tr th {
    border: none;
}

.table-books th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-book {
    margin-top: 20px;
}

.form-horizontal .control-label{
    text-align:left;
}

#loans {
    margin-top: 20px;
}

.detail-list {
    padding-left: 10px;
}

.table-buttons {
    text-align: center;
}

.detail-buttons a, .detail-buttons button{
    float: right;
}

.float-right {
    float: right;
}

.content-center {
    text-align: center;
}